# Frontend Environment Variables
# Backend API
VITE_API_URL=http://localhost:5000/api

# ExerciseDB API
VITE_EXERCISEDB_BASE=https://exercisedb-api1.p.rapidapi.com
VITE_EXERCISEDB_KEY=a49291bdbbmsh969993937f08c84p1a7b7fjsnb2455bcbd8ac
VITE_EXERCISEDB_HOST=exercisedb-api1.p.rapidapi.com
